annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.97.0
anyio==4.12.1
appdirs==1.4.4
arelle-release==2.37.75
attrs==26.1.0
beautifulsoup4==4.14.3
bottle==0.13.4
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
dart-fss==0.4.15
DateTime==5.5
Deprecated==1.3.1
distro==1.9.0
docstring_parser==0.18.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fake-useragent==2.2.0
fastapi==0.128.8
filelock==3.19.1
fonttools==4.60.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
importlib_resources==6.5.2
isodate==0.7.2
jaconv==0.5.0
jiter==0.14.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.7
lxml==6.1.0
matplotlib==3.9.4
multipledispatch==1.0.0
numpy==2.0.2
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
pillow==11.3.0
pydantic==2.13.3
pydantic_core==2.46.3
pykrx==1.0.51
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2026.1.post1
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
rpds-py==0.27.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
starlette==0.49.3
termcolor==3.1.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.39.0
wrapt==2.1.2
xlrd==2.0.2
xmltodict==1.0.4
yaspin==3.3.0
zipp==3.23.1
zope.interface==8.0.1
setuptools
