@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border: 1px solid #c7c4d7;
}

.prism-grid {
  background-image:
    linear-gradient(to right, rgba(70, 72, 212, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 72, 212, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

.zebra-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.02);
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f2fe;
}
::-webkit-scrollbar-thumb {
  background: #c7c4d7;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #767586;
}
